.interceptorModal h1,
.interceptorModal h2 {
  margin: 0 0 10px 0;
}

.interceptorModal {
  border: 1px solid red;
  margin: 20px;
  padding: 20px;
}

.interceptorModal button {
  width: auto;
  margin: 0;
  padding: 3px 5px;
}

.interceptorModal .editor {
  display: block;
  padding: 5px;
  width: 100%;
  margin: 10px 20px;
  box-sizing: border-box;
  background-color: lightyellow;
  border: 1px solid #999;
  font-family: monospace;
}

.interceptorModal .editor.invalidJson {
  background-color: lightcoral;
}

.interceptorModal.disabled {
  background-color: #eee;
}

.interceptorModal .activeEvent {
  color: red;
  text-decoration: underline;
}

.interceptorModal .eventSelector li {
  cursor: pointer;
}

.interceptorModal .eventSelector li:hover {
  text-decoration: underline;
}
